# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
**/node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
Thumbs.db

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

# VSCode

# Test coverage
coverage/

# Jupyter
.ipynb_checkpoints/

# Misc
*.tgz

# IDE
.idea/

# Python (if any backend scripts)
__pycache__/
*.pyc

app-example

test-results